{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="column">
    <table class="menu-table">
        <thead>
            <tr>
                <th colspan="2"><h2>Menu</h2></th>
            </tr>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu %}
            <tr>
                <td>
                    <a href="{% url 'menu_item' item.pk %}">
                        {{ item.name }}
                    </a>
                </td>
                <td>
                    <span class="menu-price">
                        ${{ item.price }}.00
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--End col-->
{% endblock %}